<section data-collection-filters aria-labelledby="filter-heading" class="sticky z-20 bg-white grid items-center">
  
  <div class="relative col-start-1 row-start-1 py-4">
    <div class="{% if section.settings.contain %}container{% endif %} mx-auto flex justify-between items-center text-sm px-4 sm:px-6 lg:px-8">
      <div>
        
      </div>
    </div>
  </div>
</section>
