<discount-codes id="discount-codes" class="block px-4 sm:px-6">
    <div data-banner class="hidden mt-4 p-2 border border-solid border-gray-500 bg-gray-400 text-center rounded-full">
        <p class="text-xs font-medium text-white">Code: <span data-cookie class="font-bold"></span> applied at checkout</p>
    </div>
</discount-codes>
<script defer="defer" src="{{ 'discount-codes.js' | asset_url }}"></script>