{%- assign footer_linklist = block.settings.footer_linklist -%}
{%- if block.settings.column_header != blank -%}
  <h3 class="pb-2 text-xs">{{ block.settings.column_header }}</h3>
{%- endif -%}
{%- unless footer_linklist == blank -%}
  <ul>
    {%- for link in linklists[footer_linklist].links -%}
      <li>
        <a class="inline-block pb-1" href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endunless -%}
