<!-- Recommended products -->
<div class="product-recommendations-mini" data-url="/recommendations/products?section_id={{ section_id }}&limit={{ the_limit }}&product_id={{ product.id }}">
    {%- if recommendations.products_count > 0 -%}
    <h2 class="my-4 text-base">{{ 'products.product.product_recommendations' | t }}</h2>
    <div class="overflow-hidden">
        <div class="flex flex-row no-wrap w-full pb-4 overflow-x-scroll scroll-bar">
            {%- for related_product in recommendations.products -%}
            <div class="w-2/3 flex-shrink-0 pr-4">
                {% render 'product-grid-item' with product: related_product %}
            </div>
            {%- endfor -%}
        </div>
    </div>
    {%- endif -%}
</div>

<script type="text/javascript">
    var loadProductRecommendationsIntoSection = function() {
        // Look for an element with class 'product-recommendations'
        var productRecommendationsSection = document.querySelector(".product-recommendations-mini");
        if (productRecommendationsSection === null) { return; }
        // Create request and submit it using Ajax
        var request = new XMLHttpRequest();
        request.open("GET", productRecommendationsSection.dataset.url);
        request.onload = function() {
            if (request.status >= 200 && request.status < 300) {
                var container = document.createElement("div");
                container.innerHTML = request.response;
                productRecommendationsSection.innerHTML = container.querySelector(".product-recommendations-mini").innerHTML;
            }
        };
        request.send();
    };
    // If your section has theme settings, the theme editor
    // reloads the section as you edit those settings. When that happens, the
    // recommendations need to be fetched again.
    // See https://help.shopify.com/en/themes/development/sections/integration-with-theme-editor
    document.addEventListener("shopify:section:load", function(event) {
        if (event.detail.sectionId === "product-recommendations") {
            loadProductRecommendationsIntoSection();
        }
    });
    // Fetching the recommendations on page load
    loadProductRecommendationsIntoSection();
</script>