<section class="[ {% if section.settings.contain %}container{% endif %} mt-8 mb-12 mx-auto px-4 sm:px-6 lg:px-8 ]">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'breadcrumbs' -%}
        {% render 'breadcrumb' %}
      {%- when 'header' -%}
        {% render 'page-header' %}
      {%- when 'content' -%}
        <div class="overflow-hidden">
          <div class="rte">
            {{ page.content }}
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "contain",
      "label": "Contain the Section within a wrapper?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumbs",
      "name": "Breadcrumbs",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "breadcrumb_alignment",
          "label": "Breadcrumb Alignment",
          "options": [
            {
              "label": "Left",
              "value": "justify-start"
            },
            {
              "label": "Center",
              "value": "justify-center"
            },
            {
              "label": "Right",
              "value": "justify-end"
            }
          ],
          "default": "justify-start"
        }
      ]
    },
    {
      "type": "header",
      "name": "Header",
      "limit": 1
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
