{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%}
      {%- for product in predictive_search.resources.products -%}
        {% render 'product-grid-item' with product: product %}
      {%- endfor -%}
    {%- else -%}
      <p class="text-base">{{ 'general.search.drawer.no_results' | t }}</p>
    {%- endif -%}
  </div>
{%- endif -%}
