{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div class="text-center">

  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

  <div>
    {% unless shop.password_message == blank %}
      <p>{{ shop.password_message }}</p>
    {% endunless %}
    {%- render 'form-newsletter' -%}
  </div>

  {% if settings.share_facebook or settings.share_twitter %}
    <p>{{ 'general.password_page.spread_the_word' | t }}</p>
    {% render 'social-sharing' %}
  {% endif %}

</div>